version: '3.8'

services:
  nextjs-app:
    build: .
    container_name: nextjs-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongodb
    environment:
      - MONGODB_URI=${MONGODB_URI}
    restart: always

  mongodb:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
